body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(26, 26, 26);
    margin: 0;
    color:black;
}

main h1 , main h2 , main h3 {
    margin : 20px 0;
    font-weight: bold;
}

main  h1 {
    font-size : 50px;
    margin : 10px 0;
}

main{
    max-width: 100%;
    margin-bottom: 40px auto;
    padding: 0 ;
    background-color: rgb(139, 139, 139);
    margin: 10px 40px 30px 40px;
    padding: 40px 20px ;
    border-radius: 20px;
}

.txt {
    text-align: center;
    margin-bottom: 30px;
}

.contact form {
    display : grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.contact form img{
    width: 85% ;
    height: 90%;
    min-width: 330px;
    grid-row: 1 / 4;
}

.contact >form {
    display: grid;
    gap: 10px;
    padding : 20px;
} 

.contact > form div input {
    height : 35px;
}

.bas  {
    grid-column: 1/-1;
}

.bas textarea {
    height: 250px;
    width: 100%;
}

.contact > form input[type="text"] , .contact > form input[type="email"] {
    width: 100%;
}

.contact > form label {
    padding-left : 5px;
    margin-bottom : 5px;
    font-weight: bold;
}

main section form div:last-child {
    grid-column: 1/-1;
}


.contact > form div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 5px;
    margin-top : 20px;
}

.contact > form div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 5px;
    margin-top : 20px;
}


.btn[type = "submit"] {
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgb(11, 11, 228);
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    margin-left : auto;
}

.btn[type = "submit"]:hover{
    background-color: #004c99;
} 

main input[type = "text"] , main input[type = "email"] , main textarea {
    border-radius: 10px;
    border : solid 1px rgb(54, 54, 54);
    background-color: white;
}


