body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #adbac0;
    margin: 0;
}


.banniere {
    height: 150px;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    min-width: 330px;

}




main {
    max-width: 100%;
    margin-bottom: 40px auto;
    padding: 0;
    background-color: #d8d8d8;
    margin: 10px 40px 30px 40px;
    padding: 40px 20px;
}

.txt {
    text-align: center;
    margin-bottom: 30px;
}

.formulaire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.formulaire img {
    width: 85%;
    height: 90%;
    min-width: 330px;

}

.formulaire>div {
    display: grid;
    gap: 10px;
}

.formulaire>div input {
    height: 35px;
}


.bas {
    grid-column: 1/-1;
    padding: 15px;
}

.bas textarea {
    height: 250px;
}


.bas fieldset {
    border: none;
}

.bas input[type="submit"] {
    justify-self: end;
    width: 200px;
    color: white;
    background-color: rgb(60, 60, 201);
    border: none;
}

.bas input[type="submit"]:hover {
    background-color: #004c99;
}