footer {
    display : flex;
    background-color:black;
    justify-content: space-between;
    margin-top : 30px;
    height: 150px;
    color:white;
}


footer > form {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 12.5px;
    width : 100%;
    margin : 5px 10px;
    padding-top : 10px;
}

footer input[type="text"] {
    width : 100%;
    height : 30px;
    box-sizing: border-box;
}

.description{
    grid-column: 1 / 3;
    margin : 0;
    padding : 0;
}

.description textarea {
    text-align: left;
    width : 100%;
    min-height : 80px;
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

footer input[type="submit"] {
    background-color: rgb(11, 11, 228);
    color: white;
    border : none;
    width : 80px;
    height : 35px;
    border-radius : 4px;
    margin : 5px;
}

footer form div:last-child {
    margin : 10px;    
}

footer > div {
    border-left : 1px solid white;
    padding : 5px;
    width :20%;
}

footer > div > h4 {
    font-size : 20px;
    margin : 5px;
}

footer > div > p {
    font-size : 14px;
    margin : 5px;
}

input[type = "text"] , input[type = "email"] , textarea {
    border-radius: 6px;
    border : solid 0.5px grey;
}
