header {
    display : flex;
    flex-direction : row;
    width : 100%;
    justify-content: space-between;
    background-color: white;
    position : sticky;
    top: 0px;
    height : 70px;
}

header div:first-child , header div:first-child a {
    height : 100%;
}

header div:first-child img {
    display : block;
    height : 100%;
    width: auto;
}


header nav {
    width : 100%;
}

nav ul {
    display : flex;
    flex-direction : row;
    height : 100%;
    margin : 0;
    padding-left : 0;
    background-color : black;
    list-style-type : none;
}

nav ul li {
    flex : 1;
    align-content: center;
    text-align : center;  
    
    
}

nav ul li:hover {
    background-color : blue;
}

nav ul li a {
    color : white;
    text-decoration: none;
}

h2 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
}

header div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 5px;
    padding : 15px;
    justify-items: center;
    align-items: center;
    background-color: black;
}

header div:last-child img {
    height : 35px;
}

