header {
    display : flex;
    flex-direction : row;
    width : 100%;
    justify-content: space-between;
    background-color: white;
    position : sticky;
    top: 0px;
}

/*Logo Hardis Group*/
header div:first-child img {
    height : 65px;
}
/*Barre de navigation*/
header nav {
    width : 100%;
}

/*Conteneur du menu*/
nav ul {
    display : flex;
    flex-direction : row;

    height : 100%;

    margin : 0;

    padding-left : 0;
    background-color : black;

    list-style-type : none;
    
}

nav ul li {
    flex : 1;
    align-content: center;
    text-align : center;  
    
    
}

h2 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
}

/*Éléments du menu au passage de la souris*/
nav ul li:hover {
    background-color : blue;
}

/*Liens du menu*/
nav ul li a {
    color : white;
    text-decoration: none;
}


/*Logos Youtube, Facebook et Linkedin*/
header div:last-child img {
    height : 35px;
}

.text-link {
    color:white;
}

header div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 5px;
    padding : 15px;
    justify-items: center;
    background-color: black;
}

