body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(26, 26, 26);
    margin: 0;
}

main section:first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

main section:first-child img {
    border-radius: 20px;
    box-shadow: -10px 10px 10px black;
    margin:20px;
    margin-left: 10px;
    width: 80%;
}

main section:first-child p {
    width: 20%;
    color: white;
    background-color: rgb(43, 108, 206);
    margin: 20px;
    margin-right: 10px;
    padding: 30px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: -10px 10px 10px black;
}

main section:nth-child(2) {
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 70px;
}

main section:nth-child(2) img {
    border-radius: 20px;
    box-shadow: -10px 10px 10px grey;
    width: 45%;
    margin: 20px ;
}

main section:nth-child(2) div {
    width: 55%;
    font-size: 18px;
    line-height: 1.5;
    padding: 40px;
}

.widget-container {
    width: 100%;
    margin-top: 0; 
    background-color: white;
}

.stats-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;       
    background-color: #1a0082;     
    color: white;
    padding: 50px 20px;
    text-align: center;
    flex-wrap: wrap;              
}

.stat-box {
    flex : 1;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.stat-box i {
    font-size: 3.5rem;  
    margin-bottom: 20px;
    height: 60px;        
}

.stat-box h3 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 10px 0;
    line-height: 1.4;
    min-height: 45px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-box span {
    font-size: 16px;
    font-weight: bold;
}


.action-bar {
    background-color: #cdd6e0; 
    padding: 25px 40px;
    display: flex;
    align-items: center;
}


.btn {
    background-color: rgb(11, 11, 228);
    color: white;
    border: none;
    margin-top: -80px;
    padding: 12px 12px;
    font-size: 1rem;
    border-radius: 4px;
    text-decoration: none;
}

.btn:hover {
    background-color: #1b5fa8;
}