body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(26, 26, 26);
    margin : 0;
}

main {
    display : flex;
    flex-direction: column;
    gap : 80px;
}

main > div {
    margin: 20px;
    display : flex;
    flex-direction: row;
    gap: 20px;
}

main > div div {
    width: 35%;
    color : white;
    padding : 30px;
    background-color: rgb(97, 97, 97);
    border-radius: 20px;
    box-shadow: -10px 10px 10px black;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

main > div div h1 {
    font-size : 50px;
    font-weight: lighter;
}

main > div div p {
    font-size : 28px;
}

main > div img {
    border-radius: 20px;
    box-shadow: -10px 10px 10px black;
    width: 65%;
    height: 450px;
}

main > section {
    display : flex;
    flex-direction: row;
    padding : 20px;
    gap : 20px;
    align-items:center;
    background-color: white;
}

main section h3 {
    font-size : 32px;
    margin : 10px 0;
}

main > section img {
    border-radius: 20px;
    box-shadow: -10px 10px 10px grey;
}

.imgleft {
    vertical-align:bottom; 
    width : 500px;
}

.drone{
    display : flex;
    flex-direction: column;
    gap : 20px;
    width : min-content;

}
.drone img {
    width : 350px;
}

main dt {
    font-weight: bold;
}

main dd {
    margin : 2px 0 15px 20px;
}

