body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 39, 39);
    margin : 0;
}

/*Page*/
main {
    display : flex;
    flex-direction: column;
    gap : 80px;
}

/*Entête de la page*/
main > div {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap : 20px;
    background-color: rgb(7, 7, 88);
}

/*Titre principal (de l'entête)*/
main > div h1 {
    font-size : 50px;
    color : white;
}
main > div h1 {
    padding : 30px;
}

/* Sections*/
main > section {
    display : flex;
    flex-direction: row;
    padding : 20px;
    gap : 20px;
    align-items:center;
    background-color: white;
}

/*titres des sections*/
main section h3 {
    font-size : 32px;
    margin : 10px 0;
}

/*images à gauche*/
.imgleft {
    vertical-align:bottom; 
    width : 500px;
}

.drone{
    width : min-content;
}
.drone img {
    width : 350px;
}

/*titres des listes de descriptions*/
main dt {
    font-weight: bold;
}

/*descriptions*/
main dd {
    margin : 2px 0 15px 20px;
}

