body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(26, 26, 26);

}

.intro {
    display:flex;
    flex-direction: row;    
    padding: 20px;
    padding-bottom: 50px;
    gap:20px;
}



.intro div {
    padding: 30px;
    width: 25%;
    background-color: rgb(97, 95, 95);
    border-radius: 20px;
    color: white;
    box-shadow: -10px 10px 10px black;
}

.intro div h2{
    font-size: 45px;
}

.intro div p{
    font-size: 25px;
}

.intro img {
    width: 75%;
    border-radius: 20px;
    box-shadow: -10px 10px 10px black;
}

main h3 {
    font-size: 25px;
}

.intro img {
    display: block;
    text-align: right;
    width: 100%;
    height: 650px;
}

.intro h1 {
    display: block;
    text-align: center;
}


.hautdepage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 3rem 2rem;
    background-color:white;
}



.bloc {
    flex: 0 0 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.bloc img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 320px;
}


.container-logo {
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
}


.container-logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.bloc h2 {
    font-size: 1.3rem;
    color: rgb(71, 133, 240);
}


.bloc p {
    font-size: 0.95rem;
    line-height: 1.4;
}


.logo-link {
    display: block;
    text-decoration: none;
}


.logo-link:hover img {
    transform: scale(1.1);
    transition: 0.3 ease;
}


.btn {
    color: white;
    background-color:  rgb(11, 11, 228);
    padding: 0.5rem 1.2rem;
    border-radius: 4px;
    font-size: small;
    text-decoration: none;
}

.btn:hover {
    background-color: #004c99;
}




.imgpres img {
    display: block;
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 2rem auto;
}




.basdepage {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
}


.detail-bloc {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.detail-bloc2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-img {
    display: block;
    max-width: 450px;
    height: auto;
    margin: 2rem;



}

.container-img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.txt h3+p {
    text-align: left;
    max-width: 400px;
}