body {
    font-family: Arial, Helvetica, sans-serif;
    margin : 0;
    color: black;
    background-color: rgb(26, 26, 26);
}

main {
    padding : 20px;
    
}


main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding : 20px;
    border-radius: 20px;
    background-color: rgb(139, 139, 139);

}

main section > section {
    padding: 30px 20px;
    margin : 20px auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: -10px 10px 10px rgb(26, 26, 26);
    color: black;
    border : solid 3px rgb(12, 12, 85);
}

main section > section div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section > section form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 5px;
}

form input > a{
    margin-left : 10px;
}

main h1 {
    font-size: 50px;
}

main h1 , main h2 , main h3 {
    margin : 20px 0;
    font-weight: bold;
}

main h4 {
    font-size: 20px;
    margin : 0;
}

main > section p {
    margin : 0;
}

main input[type="submit"] {
    background-color: rgb(11, 11, 228);
    color: white;
    border : none;
    width : 150px;
    height : 30px;
    border-radius : 3px;
    margin-left:auto;
    font-size: 18px;

}
main input[type="submit"]:hover {
    background-color: #004c99;
}

main dt {
    font-weight : bold;
}